@import url(http://fonts.googleapis.com/css?family=Jura:500,600);
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.fullWidth {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

#affiche-thumb{
    height: 200px;   
}

#promo {
    border: none;
    margin-top: 10px;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#affiche-modal {
    max-height: 500px;
    width: auto;
}

#titles {
    margin-bottom: 20px;   
}

body, h1, h2, h3, p {
    font-family: 'Jura', sans-serif;
    font-weight: 600;
}
h1, h2 {
    //    font-size: 3em;
    color: #222;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header, #footer {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 9;
    color: #f2f2f2;
    padding: 0px 0 0 0;
}

#header {
    top: 0px;
}

#footer {
    bottom: 0px;
}

.center {
    text-align: center;
}

.justify{
    text-align: justify;
}
#asso {
    background: $asso-bg;   
}
#federation {
    background: $fede-bg;   
}

h1, h2, h3, h4 {
    color: $title-font-color;
}
a {
    color: blue;   
}
a:hover {
    color: #4D6066;   
}
.middle {
    display:inline-block;
    vertical-align:middle;
}
.carbon{

}