@import url(http://fonts.googleapis.com/css?family=Jura:500,600);
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


.fullWidth {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

h1, h2, h3, h4, h5, h6, strong {
    color: $title-font-color;
}
a {
    color: #FFDE50;   
}
a:hover {
    color: #C4AB3E;   
}
footer {
    background: $fixed-bg;
}

footer ul {
    font-size: 75%; 
    list-style-type:none
}

footer h3{
    color: #2BCF4A;
}

.fb{
    color: #3A5795;
}

.linkedin{
    color: #1A85BC;   
}

.twitter {
    color: #55ACEE;   
}
.email{
    color: white;
}

.middle {
    display:inline-block;
    vertical-align:middle;
}
#trailer{
    border: none;
    padding-top: 10px;
    width:100%; 
    height:360px;
}

.section{
    padding-bottom: 10px;   
}

.main{
    top: 0px;
    bottom: 0px;
    width: 100%;

}
.main-special{
    height: 100%;
}

.button-lol{
    background: #FF9519;  
    color: white;
    margin-top: 5px;
}
.button-hs{
    background: #582EC4; 
    color: white;
    margin-top: 5px;
}

@mixin carbon($color:#131313) {
    $delta1: #020202;
    $delta2: #0d0d0d;
    $delta3: #080808;
    $delta4: #0a0a0a;
    $delta5: #030303;
    $delta6: #070707;
    background:
        linear-gradient(27deg, $color + $delta1 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, $color + $delta1 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, $color + $delta1 + $delta2 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, $color + $delta1 + $delta2 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, $color + $delta3 10px, transparent 10px),
        linear-gradient($color + $delta4 25%, $color + $delta4 - $delta5 25%, $color + $delta4 - $delta5 50%, transparent 50%, transparent 75%, $color + $delta4 + $delta6 75%, $color + $delta4 + $delta6);
    background-color: $color;
    background-size: 20px 20px;
}


@mixin stripes($color1:#2BFFF8, $color2:#000000){
    padding: 0px;
    /* IE10 Consumer Preview */

    background-image: -ms-radial-gradient(center, ellipse farthest-corner, $color1 0%, $color2 100%);
    /* Mozilla Firefox */

    background-image: -moz-radial-gradient(center, ellipse farthest-corner, $color1 0%, $color2 100%);
    /* Opera */

    background-image: -o-radial-gradient(center, ellipse farthest-corner, $color1 0%, $color2 100%);
    /* Webkit (Safari/Chrome 10) */

    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, $color1), color-stop(1, $color2));
    /* Webkit (Chrome 11+) */

    background-image: -webkit-radial-gradient(center, ellipse farthest-corner, $color1 0%, $color2 100%);
    /* W3C Markup, IE10 Release Preview */

    background-image: radial-gradient(center, ellipse farthest-corner, $color1 0%, $color2 100%);
}

.stripes{
    @include stripes(#303030, #050505);
}

.stripes-blue{
    @include stripes(#16254A, #000000);
}

.stripes-green{
    @include stripes(#008200, #000000);
}

.stripes-gold{
    @include stripes(#634423, #000000);
}
.stripes-cyan{
    @include stripes(#2F7874, #000000);
}

.stripes-red{
    @include stripes(#045361, #000000);
}


.carbon {
    @include carbon(#131313);
}

.carbon-blue {
    @include carbon(#000013);
}
.carbon-green {
    @include carbon(#001300);
}
.carbon-cyan {
    @include carbon(#001313);
}
.carbon-orange {
    @include carbon(#926434);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.lol-logo{

}

.hs-logo{
    margin-top: 30px;
    margin-bottom: 15px;
    max-width: 600px;
}

.lol-step{

}

.accent-link{
    font-size: 120%;
}

.asso{
    border-color: black;
    margin-bottom: 0px;
    background: $smoke;
}

.reveal-modal{
    color: $black;
}

.no-point{
    list-style-type:none;
}

.description{
    margin-top: 10px;
}

.tournoi-tab{
    margin-bottom: 15px;   
}

.accent {
    color: #FF1C48;
}
.halign{
    display:block;
    margin:auto;
}

.hs-step{
    margin-bottom: 5px;  
    height: 150px;
    widows: auto;
}



.scrolled {
    padding-top: 45px;   
}

.toornament{
    text-align: center;
    width:100%;  
    margin-bottom: 10px;
}

.iframe{
    display:block;
    border: none;
}

.step-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.step{
    align-self: center;
}

.asso-logo{
    max-height: 150px;
    margin-bottom: 10px;
}

.presse-box {
    border-style: solid;
    border-width: 2px;
    border-color: $jet;
}

.hw-logo{
    margin-bottom: 50px;
    padding-top: 50px;
}

.ESL-topbar-logo{
    max-width: 200px;
    align-self: center;
    margin-left: 5px;
}