/* Fonts */
@font-face {
    font-family: 'ChampagneLimousines';
    src: url("../fonts/champagne__limousines-webfont.eot");
    src: url("../fonts/champagne__limousines-webfont.svg#ChampagneLimousines") format("svg"), url("../fonts/champagne__limousines-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/champagne__limousines-webfont.woff2") format("woff2"), url("../fonts/champagne__limousines-webfont.woff") format("woff"), url("../fonts/champagne__limousines-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
/* Mixins */
/* Keyframes */
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0); }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px); }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px); } }
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0); }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px); }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px); } }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0); }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px); }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px); } }
/* Site wide styles */
::selection {
    background: #FFC7AB; }

::-moz-selection {
    background: #FFC7AB; }

body, html {
    height: 100%; }

body {
    background: #333333;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 400; }

textarea {
    height: auto; }

.nav-container {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.51);
    -moz-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.51);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.51);
    -webkit-backface-visibility: hidden;
    z-index: 5000; }

.site-logo {
    height: 37px;
    width: 131px;
    padding: 3px 0px 5px 0px; }

/* to adjust for fixed navbar */
a.anchor {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden; }

img {
    -ms-interpolation-mode: bicubic; }

.inner-wrap {
    background: #fff; }

#signout-container {
    padding-left: 0; }

.no-bottom-padding {
    padding-bottom: 0px !important; }

.avatar-link {
    padding: 7px 0 !important;
    border-bottom: 0 !important; }

.avatar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }

.avatar-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.avatar.size20 {
    width: 20px;
    height: 20px; }

.avatar.size26 {
    width: 26px;
    height: 26px; }

.avatar.size32 {
    width: 32px;
    height: 32px; }

.avatar.size40 {
    width: 40px;
    height: 40px; }

.avatar.size50 {
    width: 50px;
    height: 50px; }

.avatar.size64 {
    width: 64px;
    height: 64px; }

.hidden {
    display: none; }

.visible {
    display: block; }

.inline-block {
    display: inline-block; }

.has-sidebar {
    min-height: 550px; }

.thumbnail {
    height: auto;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px; }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

small.help {
    display: block;
    margin-top: -14px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    color: #666; }

.section-title {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: 400; }
.section-title span {
    font-size: 14px;
    font-weight: 300; }

.section-subtitle {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: 400; }
.section-subtitle span {
    font-size: 13px;
    font-weight: 300; }

#scrolltop {
    position: fixed;
    top: 50px;
    right: 8px;
    text-align: center;
    z-index: 1000;
    display: none; }
#scrolltop i {
    opacity: 0.7;
    color: #fff;
    background-color: #333333;
    padding: 8px 10px 10px 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
#scrolltop i:hover {
    opacity: 0.9;
    cursor: pointer; }

.no-pad-right {
    padding-right: 0 !important; }

.no-pad-left {
    padding-left: 0 !important; }

.arrow {
    position: fixed;
    bottom: 15px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-size: contain;
    color: #C5373C;
    z-index: 100; }

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite; }

.team-box-small {
    padding: 10px 10px;
    border: 1px solid #f0f0f0;
    max-width: 400px;
    margin: -1px 0 0 -1px; }
.team-box-small .img-container {
    margin-right: 10px;
    display: inline-block;
    height: 50px;
    vertical-align: middle; }
.team-box-small .member-container {
    display: inline-block;
    height: 50px;
    vertical-align: middle; }
.team-box-small .member-container a {
    font-size: 14px;
    color: #464646; }
.team-box-small .member-container a:hover, .team-box-small .member-container a:focus {
    color: #464646; }
.team-box-small .action-container {
    float: right;
    margin-top: 9px; }
.team-box-small .action-container .button {
    padding: 8px 14px !important; }
.team-box-small .action-container .join {
    margin-right: 10px; }
.team-box-small .message-container {
    margin-top: 20px; }
.team-box-small .member-list {
    margin-left: 0 !important; }
.team-box-small .member-list li {
    margin-left: 0 !important;
    margin-right: 0.375rem; }

.team-box-large {
    padding: 10px 10px;
    border: 1px solid #f0f0f0;
    width: 100%;
    margin: -1px 0 0 -1px; }
.team-box-large .img-container {
    margin-right: 10px;
    display: inline-block;
    height: 50px;
    vertical-align: middle; }
.team-box-large .member-container {
    display: inline-block;
    height: 50px;
    vertical-align: middle; }
.team-box-large .member-container a {
    font-size: 14px;
    color: #464646; }
.team-box-large .member-container a:hover, .team-box-large .member-container a:focus {
    color: #464646; }
.team-box-large .action-container {
    float: right;
    margin-top: 9px; }
.team-box-large .action-container .button {
    padding: 8px 14px !important; }
.team-box-large .action-container .join {
    margin-right: 10px; }
.team-box-large .message-container {
    margin-top: 20px; }
.team-box-large .member-list {
    margin-left: 0 !important; }
.team-box-large .member-list li {
    margin-left: 0 !important;
    margin-right: 0.375rem; }

#skill-list li {
    margin-top: 8px;
    width: 130px; }
#skill-list li label {
    line-height: 1;
    height: 20px; }
#skill-list li label:hover {
    cursor: default; }

#skill-list.skills-view li {
    width: 150px; }

.user-box {
    padding: 10px 10px;
    border: 1px solid #f0f0f0;
    max-width: 400px;
    margin: -1px 0 0 -1px !important; }
.user-box .img-container {
    width: 50px;
    padding-left: 0px !important;
    padding-right: 0px !important; }
.user-box .name-container {
    padding-left: 0px !important; }
.user-box .name-container a {
    font-size: 14px;
    color: #464646; }
.user-box .name-container a:hover, .user-box .name-container a:focus {
    color: #464646; }
.user-box #skill-list {
    margin-bottom: 0; }
.user-box #skill-list li {
    width: auto; }

.user-box:hover {
    cursor: pointer; }

.user-match-box {
    position: relative;
    width: 100%;
    height: 120px;
    margin: 10px 0 20px 0;
    border: 1px solid #e6e6e6;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
.user-match-box img {
    float: left;
    vertical-align: top;
    height: 120px;
    width: 120px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
.user-match-box .invite-box {
    position: absolute;
    bottom: 0px;
    right: 5px; }
.user-match-box .invite-box a {
    color: #fff;
    padding: 8px 12px; }
.user-match-box .content {
    padding: 5px 10px;
    padding-left: 130px; }
.user-match-box .content a {
    font-size: 14px;
    color: #464646; }
.user-match-box .content a:hover, .user-match-box .content a:focus {
    color: #464646; }
.user-match-box .content .user-name {
    margin-bottom: 5px; }
.user-match-box .content .progress {
    margin-top: 2px;
    margin-bottom: 0px;
    display: inline-block; }
.user-match-box .content .progress, .user-match-box .content .meter {
    height: 10px;
    width: 60%; }
.user-match-box .content .percentage-text {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 3px !important; }
.user-match-box .content #skill-list {
    margin-bottom: 6px; }
.user-match-box .content #skill-list li {
    width: auto; }
.user-match-box .content .user-city {
    margin-top: 5px;
    font-size: 13px;
    color: #2f2f2f; }
.user-match-box .content .user-city .fa {
    margin-right: 8px; }

#terms-of-service, #privacy-policy, #faq-section, #sponsor-page, #media, #contactus, #news, #competition, #mailinglist, #media-coverage-page {
    padding: 40px 0 100px 0; }

/* Landing page styles */
#home-landing {
    background-color: #333333;
    color: white;
    height: 100vh;
    min-height: 350px;
    background: url(../img/home/banner.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
#home-landing h1 {
    font-family: 'ChampagneLimousines';
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-bottom: 0px; }
#home-landing h1 .red {
    color: #e04f4f !important; }
#home-landing h5 {
    font-family: 'ChampagneLimousines';
    color: #737373;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-bottom: 0px; }
#home-landing h5 .red {
    color: #e04f4f !important; }
#home-landing #home-code-logo {
    height: 150px;
    width: auto;
    padding: 0px 0px 20px 0px; }
#home-landing #home-logo-section {
    padding-top: 22vh; }

#home-tagline {
    padding: 100px 0;
    background: #E7E7E7;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75); }
#home-tagline img {
    max-width: 350px;
    width: 90%;
    height: auto;
    padding: 20px;
    margin-top: -20px; }

#home-steps {
    margin: 100px 0 150px 0; }
#home-steps img {
    height: 210px;
    width: auto;
    padding: 20px 0px; }

#home-sponsors {
    padding: 50px 0 150px 0; }
#home-sponsors .row {
    padding: 50px 0; }

#home-media {
    padding: 50px 0 50px 0; }
#home-media .img-container {
    position: relative;
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding: 30px; }
#home-media .img-container img {
    vertical-align: middle;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
#home-media .img-container img:hover {
    opacity: 0.8; }
#home-media .row {
    padding: 50px 0; }

.home-sponsor-img {
    max-width: 400px;
    width: 70%;
    height: auto;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }

#sponsor-IBM {
    margin-top: 100px;
    max-width: 250px;
    width: 60%;
    height: auto; }

.home-sponsor-img:hover {
    opacity: 0.8; }

#home-quote {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    padding: 100px 0px;
    font-size: 30px;
    text-shadow: 0px 0px 10px black; }

.section-header {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: 900;
    text-transform: uppercase;
    color: #333333; }

/* .side-nav is within either .account-sidebar or .right-sidebar */
.side-nav {
    width: 100%; }

.side-nav > li {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.side-nav > li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
.side-nav > li a:not(.success) {
    color: #2f2f2f !important; }
.side-nav > li a.button {
    width: 100%; }
.side-nav > li a.success {
    color: #fff !important;
    font-weight: 300; }

.side-nav > li > a > .fa {
    margin-right: 8px;
    width: 17px; }

.side-nav.same-page-nav li a:not(.button), .side-nav.same-page-nav li a:not(.button) {
    border-left: 2px solid #fff; }

.side-nav.same-page-nav li a:not(.button):hover, .side-nav.same-page-nav li a:not(.button):focus {
    border-left: 2px solid #545454; }

.right-column h1, .right-column h2, .right-column h3, .right-column h4, .right-column h5, .right-column h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    text-transform: uppercase;
    font-weight: 900;
    color: #333333; }

.right-sidebar {
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
.right-sidebar .side-nav {
    padding: 10px 0px; }
.right-sidebar .side-nav li a:not(.button), .right-sidebar .side-nav li a:not(.button) {
    padding: 0.3375rem 0.875rem;
    font-weight: 300; }
.right-sidebar .side-nav li a:not(.button):hover, .right-sidebar .side-nav li a:not(.button):focus {
    background: #f2f2f2; }
.right-sidebar .side-nav li a:not(.button):hover .fa, .right-sidebar .side-nav li a:not(.button):focus .fa {
    color: #C5373C; }

#twitter-widget {
    min-height: 506px; }

.sidebar-polygons {
    width: 150px;
    height: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    opacity: 0.9; }

/* Account/Team image uplaoder boxes */
#image-error, #image-empty, #image-success {
    display: none; }

/* Account edit/view styles */
#account-page {
    margin-top: 40px;
    margin-bottom: 100px;
    min-height: 450px; }
#account-page p {
    font-size: 15px;
    font-weight: 300; }
#account-page textarea {
    height: 180px; }
#account-page #bilingual {
    margin-left: 10px; }
#account-page .missing {
    font-style: italic;
    color: #626262; }

.account-sidebar {
    left: auto;
    top: 90px;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px 0px 20px;
    z-index: 50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
.account-sidebar nav hr {
    margin: 0.25rem 0; }
.account-sidebar .participant-city, .account-sidebar .team-city {
    padding: 0.5rem 0.9rem;
    margin-top: 5px;
    margin-left: -15px;
    font-size: 14px;
    text-align: center;
    color: #2f2f2f; }
.account-sidebar .participant-city .fa, .account-sidebar .team-city .fa {
    margin-right: 8px; }
.account-sidebar .team-social {
    margin-bottom: 15px; }
.account-sidebar #twitter-share {
    width: 79px;
    margin-left: auto;
    margin-right: auto; }

.account-sidebar:not(.fixed) {
    padding-top: 60px; }

.account-sidebar.account-view {
    width: 100%; }

/* Sponsors styles */
#sponsor-page .sponsor-logo {
    max-width: 300px;
    width: 70%;
    height: auto;
    margin: 10px 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
#sponsor-page p {
    font-weight: 300; }
#sponsor-page .sponsor-logo:hover {
    opacity: 0.8; }

/* Media coverage styles */
#media-coverage-page .media-coverage-title {
    font-size: 1.4em;
    line-height: 1; }
#media-coverage-page .media-coverage-date {
    margin-top: 10px;
    font-weight: 300;
    color: #727272;
    font-style: italic; }
#media-coverage-page .broadcaster-logo {
    max-height: 50px; }
#media-coverage-page p {
    font-weight: 300; }
#media-coverage-page a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden; }

/* Login/Register styles */
#registration, #signup {
    padding: 50px 0 80px 0; }

/* News styles */
#news h4 {
    font-size: 1.3rem; }
#news .header {
    margin-bottom: 0.2rem; }
#news .subheader {
    margin-bottom: 30px;
    font-size: 1.1rem; }
#news .news-text {
    font-weight: 300; }
#news .news-text .quote {
    color: #727272;
    font-style: italic;
    font-weight: 300; }
#news .news-text p {
    padding: 0 20px;
    margin-bottom: 0;
    font-weight: 300; }
#news .news-date {
    margin-top: 10px;
    font-weight: 300;
    color: #727272;
    font-style: italic; }

/* Media coverage sidebar */
#media-sidebar {
    padding: 2px;
    margin-top: 10px; }
#media-sidebar .row {
    font-weight: 300;
    margin-bottom: 10px; }
#media-sidebar .media-coverage-info {
    font-size: 0.8em;
    font-weight: normal;
    color: #666; }
#media-sidebar .media-coverage-info a {
    color: #666; }
#media-sidebar .media-coverage-info a:hover {
    color: #666;
    text-decoration: underline; }

/* Resource styles */
#competition section, .competition section {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative; }
#competition section .fade, .competition section .fade {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 50px 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */ }
#competition p, #competition ol li, #competition ul li, .competition p, .competition ol li, .competition ul li {
    font-weight: 300; }
#competition hr, .competition hr {
    margin-top: 5px;
    margin-bottom: 10px; }
#competition a.name, .competition a.name {
    color: #C5373C !important; }
#competition #map, .competition #map {
    height: 180px;
    /* hubs map */
    margin-bottom: 15px; }
#competition #hub-map, .competition #hub-map {
    height: 300px; }
#competition #postal-form #spinner, .competition #postal-form #spinner {
    color: #C5373C;
    margin-left: 10px;
    margin-top: 10px;
    display: none; }
#competition #postal-form #postal-error, .competition #postal-form #postal-error {
    display: none; }
#competition #postal-form input[type=submit], .competition #postal-form input[type=submit] {
    margin-top: 0; }
#competition .hub-box, .competition .hub-box {
    margin: 0px;
    padding: 5px;
    margin-bottom: 15px; }
#competition .hub-box h4, #competition .hub-box a.name, .competition .hub-box h4, .competition .hub-box a.name {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 5px; }
#competition .hub-box h5, .competition .hub-box h5 {
    font-size: 0.8em;
    font-weight: 300;
    color: #6f6f6f; }
#competition .hub-box .button, .competition .hub-box .button {
    padding: 12px 15px;
    font-size: 0.8em; }
#competition .hub-text, .competition .hub-text {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 300; }
#competition .hub-text .button.success, .competition .hub-text .button.success {
    padding: 12px 16px;
    margin-top: 15px;
    margin-bottom: 0px; }
#competition .hub-company-social, .competition .hub-company-social {
    margin-top: 10px; }
#competition .hub-company-social i, .competition .hub-company-social i {
    color: #787a7a;
    margin-left: 10px;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
#competition .hub-company-social i:hover, .competition .hub-company-social i:hover {
    color: #464646; }
#competition .hub-company-social i.fa-facebook-square:hover, .competition .hub-company-social i.fa-facebook-square:hover {
    color: #3b5998; }
#competition .hub-company-social i.fa-tumblr-square:hover, .competition .hub-company-social i.fa-tumblr-square:hover {
    color: #35465c; }
#competition .hub-company-social i.fa-twitter:hover, .competition .hub-company-social i.fa-twitter:hover {
    color: #55acee; }
#competition .hub-company-social i.fa-youtube-square:hover, .competition .hub-company-social i.fa-youtube-square:hover {
    color: #e52d27; }
#competition .gallery, .competition .gallery {
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0; }
#competition .gallery .columns, .competition .gallery .columns {
    padding-left: 2px;
    padding-right: 2px; }
#competition .gallery .fancybox > img, .competition .gallery .fancybox > img {
    border: 1px solid rgba(0, 0, 0, 0.1); }
#competition img.faded, .competition img.faded {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
#competition img.faded:hover, .competition img.faded:hover {
    opacity: 0.8; }
#competition .partner-hub-img, .competition .partner-hub-img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 200px; }
#competition .partner-hub-description, .competition .partner-hub-description {
    padding-top: 20px; }
#competition .partner-hub-name, .competition .partner-hub-name {
    font-size: 1.2rem;
    line-height: 1.4; }
#competition #hub-registration, .competition #hub-registration {
    width: 100%; }
#competition #city-row, .competition #city-row {
    margin-bottom: 20px;
    font-weight: 300; }
#competition #city-row img, .competition #city-row img {
    width: 150px;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
#competition #city-row a img:hover, .competition #city-row a img:hover {
    opacity: 0.8; }
#competition .company-logo, .competition .company-logo {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
#competition .company-logo:hover, .competition .company-logo:hover {
    opacity: 0.6; }
#competition .quote, .competition .quote {
    color: #727272;
    font-style: italic; }
#competition .subheader, .competition .subheader {
    margin-top: 2rem; }
#competition .subheader.strong, .competition .subheader.strong {
    color: #000;
    font-weight: 500; }
#competition .resource-link, .competition .resource-link {
    margin-top: -5px;
    margin-bottom: 10px; }
#competition .row.odd, .competition .row.odd {
    background-color: #F7F7F7; }
#competition .button.readmore-js-toggle, .competition .button.readmore-js-toggle {
    margin-top: 14px;
    padding: 12px 16px;
    min-width: 80px; }
#competition .button.less, .competition .button.less {
    margin-top: -15px; }
#competition .inline-image, .competition .inline-image {
    width: auto;
    height: 150px; }
#competition .inline-image.left, .competition .inline-image.left {
    float: left;
    margin: 30px 20px 30px 10px; }
#competition .inline-image.right, .competition .inline-image.right {
    float: right;
    margin: 30px 10px 30px 20px; }
#competition .trophy, .competition .trophy {
    width: 250px;
    height: auto; }
#competition .winners-app, .competition .winners-app {
    font-weight: 300;
    margin-bottom: 0; }
#competition .winners-team, .competition .winners-team {
    font-weight: 300;
    color: #6f6f6f;
    margin-bottom: 15px; }

.competition {
    padding: 40px 0 40px 0; }
.competition .columns {
    font-weight: 300; }

/* Media styles */
#media {
    font-weight: 300; }
#media p {
    font-weight: 300; }

/* Teams styles */
#teams {
    padding: 40px 0 80px 0;
    /* (jQ) Show icon */
    /* (jQ) hover cursor style */ }
#teams p, #teams ol, #teams ul {
    font-size: 15px;
    font-weight: 300; }
#teams a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden; }
#teams #participant-map {
    width: 100%;
    height: auto;
    border-top: 1px solid #e6e6e6; }
#teams .repo-logo {
    height: 50px;
    max-width: none;
    width: auto;
    margin-bottom: 10px; }
#teams .website-app-only, #teams .mobile-app-only {
    font-weight: 300;
    display: none; }
#teams .teams-header {
    background-color: #eee;
    padding-top: 40px;
    margin-top: -40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d4d4d4; }
#teams .teams-header img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 300px;
    height: auto; }
#teams .gallery {
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0; }
#teams .gallery .columns {
    padding-left: 2px;
    padding-right: 2px; }
#teams .gallery .fancybox > img {
    border: 1px solid rgba(0, 0, 0, 0.1); }
#teams img.faded {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
#teams img.faded:hover {
    opacity: 0.8; }
#teams .clearable {
    background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -20px center;
    border: 1px solid #999;
    padding-right: 18px;
    /* Use the same right padding (18) in jQ! */
    transition: background 0.4s; }
#teams .clearable.x {
    background-position: right 5px center; }
#teams .clearable.onX {
    cursor: pointer; }
#teams #description, #teams #requestText {
    min-height: 180px;
    height: auto; }
#teams .percentage-text {
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #626262; }
#teams .missing {
    font-style: italic;
    color: #626262; }
#teams a.button {
    margin-right: 10px; }
#teams #spinner {
    color: #C5373C;
    margin-bottom: 10px; }
#teams #search-error {
    display: none;
    font-weight: 300; }
#teams .team-list-row {
    max-width: 75rem; }
#teams #team-list-container {
    min-height: 500px; }
#teams #team-list {
    text-align: center; }
#teams .team-container {
    position: relative;
    text-align: left;
    width: 200px;
    height: 450px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 15px 20px 15px;
    border: 1px solid #e6e6e6;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
#teams .team-container img {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
#teams .team-container .team-city {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 200px;
    text-align: center;
    margin-top: 5px;
    margin-left: -10px;
    font-size: 13px;
    text-align: center;
    color: #2f2f2f; }
#teams .team-container .team-city .fa {
    margin-right: 8px;
    color: #494949; }
#teams .team-container .team-city a.team-city-link {
    color: #626262; }
#teams .team-container .content {
    padding: 15px 10px; }
#teams .team-container .content .team-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
#teams .team-container .content .team-description {
    height: 125px;
    overflow: hidden;
    font-size: 13px;
    color: #4d4d4d;
    position: relative; }
#teams .team-container .content .team-description .fade {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */ }
#teams .team-container .content .team-description p {
    font-size: 13px; }
#teams .team-container .content .team-members {
    margin-top: 10px; }
#teams .team-container .content .team-members a {
    margin-right: 6px; }
#teams .team-container .content .team-members a img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
#teams .team-container .content a {
    font-size: 14px;
    color: #464646; }
#teams .team-container .content a:hover, #teams .team-container .content a:focus {
    color: #464646; }
#teams .top-15-row {
    padding-top: 75px;
    padding-bottom: 75px; }
#teams .top-15-row .theme-description {
    max-width: 650px;
    font-weight: 300;
    margin: 0 auto 25px auto;
    padding: 0 5px; }
#teams .top-15-footer {
    padding-top: 50px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background: #f7f7f7; }
#teams .top-15-footer .theme-description {
    max-width: 500px;
    font-weight: 300;
    margin: 0 auto 25px auto;
    padding: 0 5px; }
#teams .top-15-footer .theme-description.lighter {
    color: #6C6C6C; }

/* Contact Us styles */
#contactus #spinner {
    color: #C5373C;
    display: none; }
#contactus textarea {
    height: 180px; }
#contactus #contact-form-success, #contactus #nameError, #contactus #emailError, #contactus #subjectError, #contactus #messageError {
    display: none; }

/* Email Registration Page */
#mailinglist #spinner {
    color: #C5373C;
    display: none; }
#mailinglist #mailing-list-success, #mailinglist #firstNameError, #mailinglist #lastNameError, #mailinglist #emailError {
    display: none; }

/* Footer styles */
#mailing-list {
    background-color: #9d2c30;
    padding: 20px 0 0px 0;
    color: #fff; }
#mailing-list .margintop-10px {
    margin-top: 10px; }
#mailing-list #list-error, #mailing-list #list-success {
    display: none; }
#mailing-list h4 {
    color: #fff;
    margin: 0; }
#mailing-list p {
    font-size: 14px; }
#mailing-list button, #mailing-list .button, #mailing-list .top-bar-section ul li > a.button {
    background-color: #cc494e !important;
    border-color: #b13136 !important; }
#mailing-list button:hover, #mailing-list button:focus, #mailing-list .button:hover, #mailing-list .button:focus, #mailing-list .top-bar-section ul li > a.button:hover, #mailing-list .top-bar-section ul li > a.button:focus {
    background-color: #ca4146 !important; }

footer {
    background: #333333;
    padding: 40px 0;
    color: #929393;
    font-size: 14px; }
footer ul {
    list-style: none;
    font-size: 14px;
    margin: 0;
    display: block;
    margin-bottom: 8px; }
footer ul.social-links {
    float: right; }
footer a {
    color: #929393; }
footer a i {
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
footer a:focus, footer a:visited {
    color: #929393; }
footer p {
    font-size: 14px; }
footer a:hover, footer a:focus, footer a:active {
    color: #fff !important; }

/* Parallax sections */
.parallax-container {
    position: relative;
    height: 400px; }
.parallax-container .content {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20; }
.parallax-container .parallax {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 400px;
    z-index: 10; }
.parallax-container .parallax div {
    background-image: url(../img/home/candycorn.png);
    background-position: center;
    width: 100%;
    position: relative;
    height: 200%;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000; }

input[type=submit], a.button {
    font-size: 0.88889rem;
    padding-top: 0.88889rem;
    padding-right: 1.77778rem;
    padding-bottom: 0.94444rem;
    padding-left: 1.77778rem; }

/* Social logins/shares */
.fb-login-button, .fb-vote-button {
    background-color: #3b5998;
    border: 1px solid #344e86; }
.fb-login-button .social-name, .fb-vote-button .social-name {
    border-left: 1px solid #2d4373; }

.twitter-vote-button {
    background-color: #00aced;
    border: 1px solid #0099d3; }
.twitter-vote-button .social-name {
    border-left: 1px solid #0087ba; }

.google-login-button {
    background-color: #dd4b39;
    border: 1px solid #d73925; }
.google-login-button .social-name {
    border-left: 1px solid #c23321; }

.linkedin-login-button {
    background-color: #007bb6;
    border: 1px solid #006a9d; }
.linkedin-login-button .social-name {
    border-left: 1px solid #005983; }

.email-login-button {
    background-color: #36ADB6;
    border: 1px solid #309aa2; }
.email-login-button .social-name {
    border-left: 1px solid #2a888f; }

.code-vote-button {
    background-color: #C5373C;
    border: 1px solid #b13136; }
.code-vote-button .social-name {
    border-left: 1px solid #9d2c30; }
.code-vote-button img {
    padding: 0px 4px 0px 0px; }

.fb-login-button:hover, .fb-vote-button:hover {
    background-color: #344e86; }

.twitter-vote-button:hover {
    background-color: #0099d3; }

.google-login-button:hover {
    background-color: #d73925; }

.linkedin-login-button:hover {
    background-color: #006a9d; }

.email-login-button:hover {
    background-color: #309aa2; }

.code-vote-button:hover {
    background-color: #b13136; }

.social-login {
    min-width: 200px;
    padding: 5px 10px;
    margin: 5px 15px 0px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
.social-login .fa {
    vertical-align: middle;
    color: #fff; }
.social-login .social-name {
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    padding-left: 20px;
    font-size: 1.1rem;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: #fff; }

.social-share {
    padding: 3px 10px 5px 10px;
    margin-top: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
.social-share .fa {
    vertical-align: middle;
    color: #fff; }
.social-share .social-name {
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    padding-left: 30px;
    font-size: 0.9rem;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: #fff; }

.social-login:hover, .social-share:hover {
    cursor: pointer; }

/* Scrollspy sections */
.group {
    font-weight: 300; }
.group p {
    font-weight: 300; }

.subgroup {
    padding: 5px 0 5px 0;
    font-weight: 300; }
.subgroup p {
    font-weight: 300; }

.scrollspy {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }

.scrollspy ul {
    list-style: none;
    left: auto;
    top: auto;
    z-index: 50; }

.scrollspy .nav > li > a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 400; }

.scrollspy .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 13px; }

.scrollspy .nav > .active > a,
.scrollspy .nav > li > a:hover,
.scrollspy .nav > li > a:focus {
    color: #C5373C;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #C5373C; }

.scrollspy .nav > .active > a,
.scrollspy .nav > .active:hover > a,
.scrollspy .nav > .active:focus > a {
    font-weight: 700; }

.scrollspy .nav .nav > .active > a,
.scrollspy .nav .nav > .active:hover > a,
.scrollspy .nav .nav > .active:focus > a {
    font-weight: 500; }

.scrollspy .nav ul.nav {
    display: none; }

.scrollspy .nav > .active > ul.nav {
    display: block; }

.nav-stacked {
    margin-left: 0; }

/* Spinner styles */
.spinner {
    margin-top: 15px; }

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #C5373C;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

#code-spinner > div {
    background-color: #e04f4f; }

#facebook-spinner > div {
    background-color: #3b5998; }

#google-spinner > div {
    background-color: #dd4b39; }

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0); }
    40% {
        -webkit-transform: scale(1); } }
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0); }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1); } }
/* Timeline */
.timeline {
    list-style: none; }

.timeline > li {
    margin-bottom: 60px; }

.timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative; }

.timeline-content {
    width: 100%;
    float: left;
    margin-left: 6px;
    border-left: 3px #FBD5C2 solid;
    padding-left: 30px; }
.timeline-content p {
    margin: 0;
    padding: 5px 10px 15px 0px;
    margin-bottom: 20px; }

.timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #ce2424;
    position: absolute;
    left: 2px;
    top: 24px;
    border-radius: 100%; }

/* Dropzone Overrides */
.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
    color: #3f3f3f; }

/* Foundation Overrides */
.top-bar-section ul li > a.button {
    margin-top: 2px; }

.off-canvas-list li a > .fa {
    margin-right: 8px; }

button, .button, .top-bar-section ul li > a.button {
    background-color: #C5373C;
    border-color: #9d2c30; }

button:visited, .button:visited, .top-bar-section ul li > a.button:visited {
    color: #fff; }

button:not(.square), .button:not(.square), .top-bar-section ul li > a.button:not(.square) {
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    border-radius: 2px !important; }

button:hover, button:focus, .button:hover, .button:focus, .top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
    background-color: #b13136; }

a, a:focus, a:visited {
    color: #C5373C; }

a:hover:not(.button) {
    color: #C5373C;
    text-decoration: underline; }

.tooltip {
    background-color: #222;
    font-size: 12px; }

.nub {
    border-color: transparent transparent #222 transparent !important; }

.top-bar-section i {
    color: #e04f4f;
    padding: 9px 0px; }
.top-bar-section #account-alerts {
    padding-right: 0; }
.top-bar-section #signout-img {
    opacity: 0.65;
    width: 18px;
    height: 32px;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out; }
.top-bar-section #signout-img:hover {
    opacity: 1; }

p {
    font-weight: 400; }

label.error {
    color: #C53A23; }

span.error, small.error {
    background: #C53A23; }

.off-canvas-list a:hover, .off-canvas-list a:focus, .off-canvas-list a:active {
    color: #fff; }

/* Notification popup */
@media only screen and (max-width: 80em) {
    #noty_bottomRight_layout_container {
        display: none; } }
/* Media queries for small devices */
@media only screen and (max-width: 40em) {
    h4 {
        font-weight: 500; }

    .row .row {
        margin-left: 0;
        margin-right: 0; }

    .f-topbar-fixed {
        padding-top: 0px !important; }

    #home-landing #home-code-logo {
        height: 80px;
        width: auto; }
    #home-landing h1 {
        font-size: 1.2em; }
    #home-landing h5 {
        font-size: 0.8em; }

    .parallax-container {
        height: 350px; }
    .parallax-container .parallax {
        height: 350px; }

    #terms-of-service, #privacy-policy, #faq-section, #sponsor-page, #media, #contactus, #news, #competition, #mailinglist, #media-coverage-page {
        padding: 20px 0 50px 0; }

    #home-tagline {
        padding: 50px 0; }

    #home-steps {
        margin: 50px 0 30px 0; }

    .has-sidebar {
        min-height: 0px; }

    #home-quote {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 200; }

    #home-sponsors {
        padding: 20px 0 100px 0; }

    #home-media {
        padding: 20px 0 50px 0; }
    #home-media .img-container img {
        width: 70%;
        max-width: 70%;
        height: auto; }
    #home-media .row {
        padding: 10px 0; }

    .site-logo {
        padding: 1px 0px 7px 0px; }

    #scrolltop {
        top: 8px; }

    #competition .inline-image.left, #competition .inline-image.right, .competition .inline-image.left, .competition .inline-image.right {
        float: none !important;
        display: block;
        margin: 10px auto 20px auto; }
    #competition .hub-box, .competition .hub-box {
        padding: 5px 0px; }
    #competition .hub-box .button, .competition .hub-box .button {
        padding: 8px 10px;
        font-size: 0.8em; }
    #competition .hub-box .columns, .competition .hub-box .columns {
        padding-left: 0.4rem;
        padding-right: 0.4rem; }
    #competition .gallery .fancybox > img, .competition .gallery .fancybox > img {
        margin: 10px 0px; }

    #teams {
        padding: 20px 15px 20px 15px; }
    #teams .team-divider {
        margin-left: -15px;
        margin-right: -15px; }
    #teams .teams-header, #teams .top-15-footer {
        margin-left: -15px;
        margin-right: -15px; }
    #teams #submission-section .submission-image {
        margin-bottom: 15px; }
    #teams .team-container {
        position: static;
        text-align: center;
        width: 100%;
        height: auto;
        display: inline-block;
        margin: 10px 0px 0px 0px;
        border: 0px;
        overflow: visible;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px; }
    #teams .team-container img {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        height: 120px;
        width: 120px;
        margin: 0 auto; }
    #teams .team-container .team-city {
        position: relative;
        width: auto;
        text-align: center; }
    #teams .team-container .content .team-description {
        height: auto;
        max-height: 75px; }
    #teams .team-container .content .team-members {
        margin-top: 10px; }
    #teams .team-container .content .team-members a {
        margin-right: 6px; }
    #teams .team-container .content .team-members a img {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        width: 32px;
        height: 32px; }

    footer ul {
        float: none;
        margin: 0 0 5px 0;
        text-align: center;
        display: inline-block; }
    footer ul.social-links {
        float: none; }
    footer ul.site-links {
        font-size: 10px; } }
/* medium devices */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #home-quote {
        font-size: 22px;
        font-weight: 200; } }
/* no bouncy arrows for short screens */
@media only screen and (max-height: 30em) {
    .arrow {
        display: none; } }

/*# sourceMappingURL=code.css.map */
